# Entertainment services
services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=950
      - PGID=950
      - TZ=CET
      - WEBUI_PORT=8080
    volumes:
      - ${DataRootPath:-.}/qbittorrent/config:/config
      - ${MediaRootPath:-.}/downloads:/downloads
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=950
      - PGID=950
      - TZ=CET
    volumes:
      - ${DataRootPath:-.}/bazarr/config:/config
      - ${MediaRootPath:-.}/movies:/movies #optional
      - ${MediaRootPath:-.}/series:/tv #optional
      - ${MediaRootPath:-.}/movies:/downloads/movies
      - ${MediaRootPath:-.}/series:/downloads/series
    ports:
      - 6767:6767
    restart: unless-stopped

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=950
      - PGID=950
      - TZ=CET
      - AUTO_UPDATE=true #optional
      - RUN_OPTS=<run options here> #optional
    volumes:
      - ${DataRootPath:-.}/jackett/config:/config
      - ${MediaRootPath:-.}/downloads:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=950
      - PGID=950
      - TZ=CET
    volumes:
      - ${DataRootPath:-.}/radarr/config:/config
      - ${MediaRootPath:-.}/movies:/movies #optional
      - ${MediaRootPath:-.}/downloads:/downloads #optional
    ports:
      - 7878:7878
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=950
      - PGID=950
      - TZ=CET
    volumes:
      - ${DataRootPath:-.}/sonarr/config:/config
      - ${MediaRootPath:-.}/series:/tv #optional
      - ${MediaRootPath:-.}/downloads:/downloads #optional
    ports:
      - 8989:8989
    restart: unless-stopped

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=950
      - PGID=950
      - TZ=CET
      - JELLYFIN_PublishedServerUrl=${InternalIP:-} #optional
    volumes:
      - ${DataRootPath:-.}/jellyfin:/config
      - ${MediaRootPath:-.}/series:/data/tvshows
      - ${MediaRootPath:-.}/movies:/data/movies
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    restart: unless-stopped

  hoshinova:
    image: ghcr.io/holoarchivists/hoshinova:main
    container_name: hoshinova
    restart: unless-stopped
    ports:
      - 127.0.0.1:1104:1104
    volumes:
      - ${DataRootPath:-.}/hoshinova/config.toml:/app/config.toml
      - ${MediaRootPath:-.}/hoshinova/temp/:/app/temp
      - ${MediaRootPath:-.}/hoshinova/videos:/app/videos
